NEXT_PUBLIC_ADMIN_USERNAME=admin
NEXT_PUBLIC_ADMIN_PASSWORD=sterk-wachtwoord-123
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_BKFWI9nDegPD77H4_O9sr5hbTTHupkVU4E3VAPnI7JgjYJV
POSTGRES_URL=postgres://user:password@host:5432/db
